@import "../../theme.scss"; 

.closeContainer {
    display: flex;
    align-items: center;
    margin-top: 0.5em;
}

.closeIcon {
    :hover {
        cursor: pointer;
    }
}

.ssContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
}