@import "../../theme.scss";

.ant-steps-vertical {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    height: 60vh !important;
    margin-left: 10px;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: $tertiary-color !important;
    margin-left: 20px !important;
    margin-top: 10px;
  }

  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: $tertiary-color !important;
    margin-left: 20px !important;
    margin-top: 10px;
  }

  .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-tail::after {
    background-color: $tertiary-color !important;
    margin-left: 20px !important;
    margin-top: 10px !important;
  }

  .ant-steps-vertical.ant-steps-dot .ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail {
    top: 2px !important;
    left: -9px !important;
    margin: 0 !important;
    padding: 25px 0 10px !important;
}

  .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
    background:$secondary-color !important;
}

.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
    background: $secondary-color !important;
}

.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon .ant-steps-icon-dot {
    border: 6px solid !important;
    border-color: $primary-color !important;
    width: 30px !important;
    height: 30px !important;
    margin-top: -2px !important;
    margin-left: -2px !important;
}

.ant-steps-dot .ant-steps-item-icon .ant-steps-icon-dot, .ant-steps-dot.ant-steps-small .ant-steps-item-icon .ant-steps-icon-dot {
    position: relative !important;
    float: left !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 100px !important;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: $primary-color !important;
    margin-left: 25px !important;
    margin-top: 0px !important;
    font-size: x-large !important;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: $secondary-color !important;
    margin-left: 25px !important;
    margin-top: 5px !important;
    font-size: large !important;

}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    margin-left: 25px !important;
    margin-top: 5px !important;
    font-size: large !important;

}
