@import "../../theme.scss"; 

.ant-steps {
  width: 75%;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: $primary-color;
  border-color: $primary-color;
}

.ant-steps-item-title::after {
  position: absolute;
  left: 100%;
  display: block;
  width: 100px;
  height: 2px;
  background: #f0f0f0;
  content: '';
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: $primary-color;
  font-weight: bold;
  font-size: 16px;
  :hover{
    color: $primary-color;
    font-weight: bold;
    font-size: 16px;
  }
}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color:$primary-color;

}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color: $secondary-color;
}

.ant-steps-item-process .ant-steps-item-icon .ant-steps-icon {
  font-weight: bold;
  color: #fff;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
  color: $primary-color;
  font-weight: bold;
  font-size: 16px;
  
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title:hover{
  color: $primary-color;
  font-weight: bold;
  font-size: 16px;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
  background-color:$primary-color;
}

.ant-steps-item-finish .ant-steps-item-icon {
 background-color: $primary-color;
 border-color: $primary-color;
 color: #fff

}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #fff;
  top: -4px;
  font-weight: bold;
}
