
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import "../../theme.scss"; 

.heading{
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 2%;
}

.para{
    margin-top: 2%;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}
.actionPlanPara{
    text-align: center;
    font: normal normal normal 24px/29px Tahoma;
    letter-spacing: 0px;
    color: $tertiary-color;
    opacity: 1;
}
.error{
    color: brown;
    font-size: large;
    font-weight: bold;
}

.spinner{
    display: block;
    margin: auto;
}

.linkElement{
    text-align: left;
    /* text-decoration: underline; */
    font: normal normal normal 24px/26px ;
    letter-spacing: 0px;
    color: #1592E6;
    opacity: 1; 
}

// .linkElement:link{
//     color: #a60726;
//     border-bottom: #a60726;
// }
.actionPlanFlex{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* flex-direction: column; */
}
.actionPlanLinks{
    display: flex;
    width: 45%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid $secondary-color;
    border-radius: 10px;
    opacity: 1;
    margin: 2%;
    padding: 2%;
}

.linkSpan{
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    padding-right: 2px;
    padding-left: 15px;
    

}

.linkSpanContent::before{
    font-family: "Font Awesome 5 Free";
    color: $tertiary-color;
    content: "\f017";
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    font-size:3vh;
}

.linkSpanContentChecked::before{
    font-family: "Font Awesome 5 Free";
    color: #00FF00;
    content: "\f058";
    vertical-align: middle;
    font-style: normal;
    font-weight: normal;
    font-size:3.5vh;
}

.verticalLine{
    border-right: $secondary-color 1px solid;
}

.iconCenter{
    display: block;
    margin: auto;
    margin-left: 10px;
}

.bullets{
    padding-left: 10px;
    margin: auto;
    font-size: 20px;
}

.Form{
    margin-top: 10%;
}

.buttonColor1{
    // float: right;
    color: $secondary-color;
    box-shadow: none;
    padding: 12px 30px;
    line-height: 21px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    border-color:  $secondary-color;
    // margin-top: 2%;
    margin-bottom: 2%;
    transition: background-color 0.5s;
    text-align: center;
  }
  .logoPara{
    color: $secondary-color;
    text-align: left;
    font: normal normal bold 24px/28px Tahoma ;
    letter-spacing: 1.44px;
    opacity: 1;
}

  .buttonColor1:hover{
    background-color: $primary-color;
    border-color:  $primary-color;
    color: whitesmoke;
    text-decoration: none;
  }

  .downloadbtndiv{
    margin: 0rem 0rem;
  }

  .chatBotRow{
      margin-top: 5%;
  }


@media screen and (max-width:600px){
    .actionPlanPara{
        font: normal normal normal 18px/25px Tahoma ;
    }
    .linkElement{
        font: normal normal normal 16px/22px Tahoma;
    }
    .actionPlanLinks{
        width: 90%;
        margin: auto;
        margin-bottom: 2%;
    }
    .buttonColor1{
        width: 100% !important;
        font-size: small;
    }
    .downloadbtndiv{
        margin: 1rem;
      }
      .bullets{
          font-size: 14px;
      }
}