.heading{
    font-weight: bolder;
    color: #333333;
    /* font-size: 38px; */
    /* line-height: 45px; */
    margin-top: 2%;
    margin-bottom: 2%;
}

.para{
    margin-top: 2%;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
}

.error{
    color: brown
}

.spinner{
    display: block;
    margin: auto;
}

.linkElement{
    color: #a60726;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 0.5rem;
}

.linkElement:hover{
    color: #a60726;
    border-bottom: #a60726;
}