.footers{
   padding-right:0.8%;
   flex-shrink: 0;
   position: relative;
   height: 170px;
   bottom:0;
   top:15;
   width:100%;
   margin-top: auto;
   flex-shrink: 0;
}
.footer1{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #f2f2f2;
}

.footer1Links{
    padding: 0.5rem;
    color: #737373;
    border:#737373 2px;
}

.footer1Links:hover{
    color: black;
    border-bottom:black;
}

.footer2Row{
    background-color: #d9d9d9;
    padding: 1%;
    flex-shrink: 0;
}
.footer2{
    display: flex;
    margin: auto;
    color: #737373;
    margin-bottom: auto;
}
