@import "../../theme.scss"; 

.footers{
   position: fixed;
   bottom:0px;
   width:100%;
   background-color: $tertiary-color-3;
   box-shadow: 0px -3px 6px #00000029;
   padding: 1rem;
   max-height: 3.5rem;
   font-size: 14px;
}
.footerLinks{
    padding-right: 1rem ;
    color: #737373;
    border:#737373 2px;
    text-shadow: 0px 3px 6px #00000029;;
}

.footerLinks:hover{
    color: black;
    border-bottom:black;
}


@media screen and (max-width:767px){
    .footers{
        padding: 0.5rem;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: unset;
        box-shadow: none;
        max-height: unset;
    }
}

