.headingH1{
    font-weight: bolder;
    color: #333333;
    line-height: 45px;
    margin-top: 3%;
    text-align: center;
}

.headingPara{
    font-weight: bolder;
    color: #333333;
    line-height: 45px;
    text-align: center;
}

.smilyContainer{
    padding-top: 2%;
    display: block;
    margin: auto;
    text-align: center;
    text-align: -webkit-center
}
.smily{
    font-size: 50px;
    color: darkorange;
    margin: 1%;
}

.smily:hover{
    transform: scale(1.2);
    color: #ffc107;
}

.checkbox{
    position: absolute;
    display: none
}
.label{
    margin-top: 10px;
}

.optionButtons{
    line-height: 1;
    background-color: rgb(47, 57, 72);
    color: #f5f5f5;
    width: 15rem;
    padding: 10px;
    cursor: pointer;
    border: 1px solid grey;
}

.checkbox:checked+.optionButtons{
    background-color: #a60726;
}
.checkbox:not(:checked)+.optionButtons:hover{
    background-color: #a60726;
}

.textarea{
    width: 40rem;
    height: 15rem;
    background-color: rgb(47, 57, 72);
    border-radius: 5px;
    color: #f5f5f5;
    display: block;
    margin: auto;
    margin-top: 3%;
    padding-top: 2rem;
    text-align: center;
}

.textareasmall{
    width: 20rem;
    height: 7rem;
    background-color: rgb(47, 57, 72);
    border-radius: 5px;
    color: #f5f5f5;
    display: block;
    margin: auto;
    margin-top: 1%;
    padding-top: 2rem;
    text-align: center;
}