@import "../../theme.scss"; 

.backgrondImage{
  background-image: url("../../assets/Images/Thank-you.png") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
//   background-size: cover;
  object-fit: scale-down;
  min-height: 100vh;
  padding-bottom: 4rem;
  
}
.headingH1{
    font-weight: bolder;
    color: #333333;
    line-height: 32px;
    margin-top: 3%;
    text-align: center;
}

.headingHx{
    font-weight: bolder;
    color: #333333;
    font-size: 25px;
    // line-height: 32px;
    margin-top: 3%;
    text-align: left;
}

.headingPara{
    font-weight: bolder;
    color: #333333;
    line-height: 32px;
    text-align: center;
}

.smilyContainer{
    padding-top: 2%;
    display: block;
    margin: auto;
    text-align: center;
    text-align: -webkit-center
}
.smily{
    font-size: 50px;
    color: $secondary-color;
    margin: 1%;
}

.smily:hover{
    transform: scale(1.2);
    color: $primary-color;
}


.selected{
    transform: scale(1.2);
    color: $primary-color;
    cursor: default;
    pointer-events: none;
    font-size: 50px;
    margin: 1%;
}

.disabled{
    color: $tertiary-color-2;
    cursor: default;
    pointer-events: none;
    font-size: 50px;
    margin: 1%;
}



.checkbox{
    position: absolute;
    display: none
}
.label{
    margin-top: 10px;
}

.optionButtons{
    line-height: 1;
    color: black;
    width: 15rem;
    padding: 10px;
    cursor: pointer;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    background-color: #ffffff;
}

.checkbox:checked+.optionButtons{
    background-color: $primary-color;
    color: whitesmoke;
}
.checkbox:not(:checked)+.optionButtons:hover{
    background-color: white;
}

.nextBtnDiv{
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.textarea{
    max-width: 40rem;
    min-width: 60%;
    height: 15rem;
    background-color: white;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    color: black;
    display: block;
    margin: auto;
    margin-top: 3%;
    padding-top: 2rem;
    text-align: center;
}

.textareasmall{
    width: 20rem;
    height: 7rem;  
    background-color: white;
    border: 1px solid $secondary-color;
    border-radius: 5px;
    color: black;
    display: block;
    margin: auto;
    margin-top: 1%;
    padding-top: 2rem;
    text-align: center;
}

.textarea:focus , .textareasmall:focus{
    border: 1px solid $primary-color;
    outline: none;
}

@media screen and (max-width:600px){
    .headingH1{
        font-size: 24px;
    }

    .headingPara{
        font-size: 16px;
    }

    .headingHx{
        font-size: 24px;

    }
}