.headingH1{
    font-weight: bolder;
    color: #333333;
    font-size: 38px;
    line-height: 45px;
    margin-top: 5%;
}

.para{
    margin-top: 2%;
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
    text-align: justify;
}

.error{
    color: brown
}

.nameInput{
    margin-top: 3%;
}
.cardContainer{
    display: flex;
}

.cardClass{
    width: '15rem';
    margin: "1%";
    color: "whitesmoke";
    background-color: #a60726
}


@media screen and (max-width:600px){
    .cardContainer{
        display: block;
    }

}