html, body {
  height: 100%;
  margin: 0; padding: 0;
}
body {
  display: flex;
  flex-direction: column;
}
.App {
  display: flex;
  text-align: left;
  flex: 1 0 auto;
  flex-grow: 1;
}




@media (prefers-reduced-motion: no-preference) {
  
}
