html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  min-height: 100vh;
}

body {
  margin: 0;
  
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
