$font-family:"Tahoma";
$font-color:#1D1D1B;
$primary-color : #32ABD0;
$secondary-color : #007AC2;
$tertiary-color : #9597A6;
$tertiary-color-2: #A8A8A7;
$tertiary-color-3 : #EDEDED;
$background-welcome : "../../assets/Images/BackgroundColor.jpg"