@import url(//db.onlinewebfonts.com/c/379318324cafdcaafd6f5ca625146e49?family=Hurme+Geometric+Sans+No.4);
$font-color:#4a4a4a;
$primary-color : #cf042d;
$secondary-color : #4a4a4a;
$tertiary-color : #9597A6;
$tertiary-color-2: #A8A8A7;
$tertiary-color-3 : whitesmoke;
$background-color: #efefef;
$background-welcome : "../../assets/Images/BackgroundColor.jpg";

@mixin fontFace{
    font-family: "Hurme Geometric Sans No.4" !important; 
}

