// @import url(//db.onlinewebfonts.com/c/379318324cafdcaafd6f5ca625146e49?family=Hurme+Geometric+Sans+No.4);
$font-color: #000000;
$primary-color: #39A9E0;
$secondary-color: #00A19A;
$secondary-color-1: #000000;
$tertiary-color: #9597a6;
$tertiary-color-2: #a8a8a7;
$tertiary-color-3: whitesmoke;
$background-color: #efefef;
$background-welcome: "../../assets/Images/BackgroundColor.jpg";



@font-face {
  font-family: "HurmeGeometricSans4W00";
  src: url("HurmeGeometricSans4W00-Bold.woff2") format("woff2"),
    url("HurmeGeometricSans4W00-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Hurme Geometric Sans 3';
    src: url('HurmeGeometricSans3-Regular.woff2') format('woff2'),
        url('HurmeGeometricSans3-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}